@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  * {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  :root {
    --color-background: white;
    --color-primary: #a435f0;
    --text-color: #9a9a9d;
    --title-color: black;
  }

  .link{
    @apply hover:text-primary transition-colors duration-75
  }
}